

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@900&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  color: #222;
}

h1 {
  text-align: center;
  font-stretch: expanded;
  background-color: rgb(41,104,175);
  color: rgb(255,255,255);
  border: 5px double rgb(7,30,52);

}

h2 {
  background-color: #fff;
  width: 200px;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", "Rockwell", "Georgia", serif;
  font-weight: 900;
}

a,
a:link {
  color: #4976b9;
  text-decoration: none;
}

a:visited {
  color: #4b195d;
}

a:hover {
  color: rgb(195,16,36);
  text-decoration: underline;
}

a:active {
  color: rgb(253,185,86);
}

{
  margin: 10px
}

#map {
  background-color: #ddd;
  width: 200px;
  height: 200px;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

#intro {
  background-color: #ddd;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-right: 5px solid #222;
  }

.mapref{
  border: 5px double rgb(7,30,52);
  padding: 15px;
}

#gov {
  background-color: rgb(240,233,91);
  padding: 10px;
  border-left: 5px solid #222;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 900px;
  grid-row-gap:20px;
  grid-column-gap:20px;
}
